<launch>
  <arg name="mode" default="action" />
  <arg name="is_detection_calibration_mode" default="false" />

  <node name="detect_lane" pkg="limo_detect" type="detect_lane" output="screen">
    <remap from="/detect/image_input" to="/camera/image_projected_compensated" />
    <remap from="/detect/image_input/compressed" to="/camera/image_projected_compensated/compressed" />
    <remap from="/detect/image_output" to="/detect/image_lane" />
    <remap from="/detect/image_output/compressed" to="/detect/image_lane/compressed" />
    <remap from="/detect/image_output_sub1" to="/detect/image_white_lane_marker" />
    <remap from="/detect/image_output_sub1/compressed" to="/detect/image_white_lane_marker/compressed" />
    <remap from="/detect/image_output_sub2" to="/detect/image_yellow_lane_marker" />
    <remap from="/detect/image_output_sub2/compressed" to="/detect/image_yellow_lane_marker/compressed" />
  </node>
</launch>
